body{
    font-family: cursive;
    background-color: #000;
}

.card-wrapper{
    margin: 150px auto;
    max-width: 500px;
    border: 1px solid white;
    border-radius: 12px;
}

.card{
    max-width: 90%;
    color: #fff;
    text-align: center;
}